/* MESSAGE */
.message {
    width: 31.5rem;
    background-color: var(--white);
    color: var(--blue-800);
    padding: 4rem;
    border-radius: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
}

.message-icon {
    height: 4rem;
    width: 4rem;
}

.message-headline {
    font-size: 3.5rem;
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-bottom: 1.5rem;
}

.message-paragraph {
    line-height: 1.5;
}

@media (max-width: 552px) {
    .message {
        position: absolute;
        inset: 0;
        border-radius: 0;
        width: 100%;
        padding: 10rem 2rem 3rem 2rem;
    }

    .message article {
        flex: 1;
    }
}
