/* SIGN UP */
.sign-up {
  width: 58rem;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.content {
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.headline {
  font-size: 3.5rem;
  font-weight: var(--fw-bold);
  line-height: 1.5;
  color: var(--blue-800);
}

.context {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.list {
  margin-bottom: 1.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.list-icon {
  height: 21px;
  width: 21px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tf-label {
  display: flex;
  flex-direction: column;
}

.tf-label-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tf-label-email {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  color: var(--blue-800);
}

.tf-label-hint {
  display: none;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  color: var(--red);
}

.tf-label-hint.is-visible {
  display: inline;
}

.tf-input {
  margin-top: 0.75rem;
  padding: 1.125rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.4rem;
  border: none;
  outline: 1px solid var(--grey);
  color: var(--grey);
  background-color: var(--white);
  transition: outline-color 175ms ease-in-out, color 175ms ease-in-out,
    background-color 175ms ease-in-out;
}

.tf-input::placeholder {
  color: var(--grey);
}

.tf-input:not(:placeholder-shown):invalid {
  outline: 1px solid var(--red);
  background-color: rgba(255, 182, 193, 0.15);
  color: var(--red);
}

.tf-input:not(:placeholder-shown):valid {
  outline: 1px solid var(--blue-800);
  color: var(--blue-800);
}

.tf-input:focus {
  outline: 1px solid var(--blue-800);
  background-color: var(--white);
  color: var(--blue-800);
}

.illustration {
  display: block;
}

@media (max-width: 552px) {
  .sign-up {
    position: absolute;
    inset: 0;
    border-radius: 0;
    width: 100%;
    padding: 0;
    flex-direction: column-reverse;
    gap: 0;
  }

  .content {
    padding: 3rem 2rem;
    flex: 1;
    font-size: 1.25rem;
  }

  .headline {
    font-size: 3rem;
  }

  .list-icon {
    height: 24px;
    width: 24px;
  }

  .illustration {
    width: 100%;
  }
}
