@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

:root {
  --pink: hsl(346, 100%, 66%);
  --orange: #f96839;
  --red: rgb(255, 98, 87);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
  --fw-normal: 400;
  --fw-bold: 700;
  --ff-roboto: "Roboto", sans-serif;
  --ff-roboto-bold: "Roboto-Bold", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--ff-roboto);
  font-weight: var(--fw-normal);
  background-color: var(--blue-700);
}

footer {
  position: absolute;
  bottom: 0;
}

.btn {
  width: 100%;
  cursor: pointer;
  padding: 1.125rem 1.25rem;
  font-size: 1rem;
  font-family: var(--ff-roboto-bold);
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background-color: var(--blue-800);
  color: var(--white);
  transition: all 175ms ease-in-out;
}

.btn:hover {
  background-image: linear-gradient(90deg, var(--pink), var(--orange));
  transition: all 175ms ease-in-out;
  box-shadow: 0px 8px 16px 4px rgba(255, 98, 87, 0.5);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.d-none {
  display: none !important;
}
